<div class="container">
        <div class="row">
          <div class="col-sm">
            <form>
              <div class="form-group">
                <label class="col-form-label">First Name</label>
                <input class="form-control" type="text" name="firstName"  [(ngModel)]="patient.firstName" required>
              </div>
      
              <div class="form-group">
                <label class="col-form-label">Last Name</label>
                <input class="form-control" type="text" name="lastName" [(ngModel)]="patient.lastName" required>
              </div>
      
              <div class="form-group">
                  <label class="col-form-label">BirthDate</label>
                  <input class="form-control" type="date" name="birthDate" [(ngModel)]="patient.birthDate" required >
                </div>
      
                <div class="form-group">
                  <label class="col-form-label">Address</label>
                  <input class="form-control" type="text" name="address"  [(ngModel)]="patient.address" required >
                </div>
      
                <div class="form-group">
                  <label class="col-form-label">Gender</label>
                  <select name="genderType" [(ngModel)] = "patient.gender" class="form-control" required>
                    <option value="MALE" selected>MALE</option>
                    <option value="FEMALE">FEMALE</option>
                  </select>
                </div>

                <div class="form-group">
                    <label class="col-form-label">Select a caregiver!  </label> 
                    <select name="caregiverIDD" [(ngModel)]="caregiverID" class="form-control" required>
                      <option disabled>SELECT A CAREGIVER</option>
                      <option *ngFor="let caregiver of caregiverModel.all" [value]="caregiver.id">{{caregiver.lastName + ' ' + caregiver.firstName}}</option>
                    </select>
                </div>
                
           </form>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <button type="button" class="btn btn-primary mr-2" role="button" (click)="onPatientCreate()">Add Patient</button>
          </div>
        </div>
      </div>