<div class="container-fluid">
    <div class = "row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <h3 class="bg-red">{{ time | date: 'dd-MM-yyyy hh:mm:ss a' }}</h3>
                <h4>Click a row for medication intake details!</h4>
                
        </div>
        <div class="col-sm"></div>
    </div>
</div>
    
<popup>

</popup>

    <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Daily intake interval</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let medicationPlan of medicationPlanModel.all">
                <td (click)="show(medicationPlan)">{{ medicationPlan.id }}</td>
                <td (click)="show(medicationPlan)">{{ medicationPlan.startDate }}</td>
                <td (click)="show(medicationPlan)"> {{ medicationPlan.endDate }} </td>
                <td (click)="show(medicationPlan)">{{ medicationPlan.intakeInterval }}</td>
              </tr>
            </tbody>
    </table>

      <!-- The Modal -->
  <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{title}}</h4>
          <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          {{ content }}
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
        </div>
        
      </div>
    </div>
  </div>