<div class="container-fluid">
<h4>Click a row for editing or deleting!</h4>
<a class="btn btn-primary" routerLink="insert">Insert new patient</a>
</div>

<table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">caregiver</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let patient of patientModel.all" [routerLink]="[patient.id, 'edit']">
            <td>{{ patient.id }}</td>
            <td>{{ patient.firstName }}</td>
            <td> {{ patient.lastName }} </td>
            <td>{{ patient.gender }}</td>
            <td>{{ patient.caregiverDTO.firstName + ' ' +  patient.caregiverDTO.lastName}}</td>
          </tr>
        </tbody>
</table>