<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link">Pill Dispenser</a>
        </li>
    </ul>
</nav>