<h4 class="card-header bg-secondary">
    {{ caregiver.firstName }} {{ caregiver.lastName }}
  </h4>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <form>
        <div class="form-group">
          <label class="col-form-label">First Name</label>
          <input class="form-control" type="text" name="firstName" required [(ngModel)]="caregiver.firstName">
        </div>

        <div class="form-group">
          <label class="col-form-label">Last Name</label>
          <input class="form-control" type="text" name="lastName" required [(ngModel)]="caregiver.lastName">
        </div>

        <div class="form-group">
            <label class="col-form-label">BirthDate</label>
            <input class="form-control" type="date" name="birthDate" required [(ngModel)]="caregiver.birthDate">
          </div>

          <div class="form-group">
            <label class="col-form-label">Address</label>
            <input class="form-control" type="text" name="address" required [(ngModel)]="caregiver.address">
          </div>

          <div class="form-group">
            <label class="col-form-label">Gender</label>
            <select name="genderType" [(ngModel)] = "caregiver.genderType" class="form-control">
              <option value="MALE" [selected]="caregiver.genderType === 'MALE'">MALE</option>
              <option value="FEMALE" [selected]="caregiver.genderType === 'FEMALE'">FEMALE</option>
            </select>
          </div>
     </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-primary mr-2" role="button" (click)="onCaregiverSave()">Update Caregiver</button>
      <button type="button" class="btn btn-danger ml-auto" (click)="onCaregiverDelete()">Delete Caregiver</button>
    </div>
  </div>
</div>