<div class="container-fluid">
    <h4>Click a row for editing or deleting!</h4>
    <a class="btn btn-primary" routerLink="insert">Insert new caregiver</a>
    </div>
    
    <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Gender</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let caregiver of caregiverModel.all" [routerLink]="[caregiver.id, 'edit']">
                <td>{{ caregiver.id }}</td>
                <td>{{ caregiver.firstName }}</td>
                <td> {{ caregiver.lastName }} </td>
                <td>{{ caregiver.gender }}</td>
              </tr>
            </tbody>
    </table>