<h4 class="card-header bg-secondary">
    {{ patient.firstName }} {{ patient.lastName }}
  </h4>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <form>
        <div class="form-group">
          <label class="col-form-label">First Name</label>
          <input class="form-control" type="text" name="firstName" required [(ngModel)]="patient.firstName">
        </div>

        <div class="form-group">
          <label class="col-form-label">Last Name</label>
          <input class="form-control" type="text" name="lastName" required [(ngModel)]="patient.lastName">
        </div>

        <div class="form-group">
            <label class="col-form-label">BirthDate</label>
            <input class="form-control" type="date" name="birthDate" required [(ngModel)]="patient.birthDate">
          </div>

          <div class="form-group">
            <label class="col-form-label">Address</label>
            <input class="form-control" type="text" name="address" required [(ngModel)]="patient.address">
          </div>

          <div class="form-group">
            <label class="col-form-label">Gender</label>
            <select name="genderType" [(ngModel)] = "patient.gender" class="form-control">
              <option value="MALE" [selected]="patient.gender === 'MALE'">MALE</option>
              <option value="FEMALE" [selected]="patient.gender === 'FEMALE'">FEMALE</option>
            </select>
          </div>


          <div class="form-group">
              <label class="col-form-label">Select a caregiver!  </label> 
              <select name="caregiverIDD" [(ngModel)]="caregiverID" class="form-control" required>
                <option disabled>SELECT A CAREGIVER</option>
                <option *ngFor="let caregiver of caregiverModel.all" [value]="caregiver.id">{{caregiver.lastName + ' ' + caregiver.firstName}}</option>
              </select>
          </div>
          
     </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-primary mr-2" role="button" (click)="onPatientSave()">Update Patient</button>
      <button type="button" class="btn btn-danger ml-auto" (click)="onPatientDelete()">Delete Patient</button>
    </div>
  </div>
</div>