<p>Hello, {{ username }}!</p>

<p>{{ messages }}</p>


<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let patient of patientModel.all">
        <td>{{ patient.firstName }}</td>
        <td> {{ patient.lastName }} </td>
        <td>{{ patient.gender }}</td>
      </tr>
    </tbody>
</table>