<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
         <li class="nav-item">
            <a class="nav-link" (click)="logOut()">LogOut</a>
     </li>
    </ul>
</nav>